.content__coffeeBeans {
    &-intro {
        h1 {
            line-height: $mainheader-lineheight;
        }

        p {
            line-height: $para-lineheight;
        }
    }

    &-cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media screen and (max-width: $b-small) {
            flex-direction: column;
        }

        @media screen and (min-width: $b-small) {
            flex-direction: row;
        }
    }

    &-card {
        @media screen and (max-width: $b-small) {
            width: 100%;
        }

        @media screen and (min-width: $b-small) {
            width: 45%;
        }
        
        margin: 1rem 0 0 0;
        background-color: $coffeeCard-background;

        h2 {
            padding: 1rem;
        }

        p {
            padding: 0 1rem 1rem 1rem;
            text-align: justify;
        }

        img {
            width: 100%;
        }
    }
}