.content__coffeeBeans {
    &-cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 0 1rem 0;
    }

    &-card {
        width: 45%;
        margin: 1rem 0 0 0;
        background-color: $coffeeCard-background;

        img {
            width: 100%;
        }
    }
}