.content__home {
    // Section spacing
    &-introImage,
    &-detailsContainer,
    &-map {
        padding-top: 1rem;
    }

    &-intro {
        line-height: $mainheader-lineheight;
    }

    &-introImage {
        width: 100%;
        max-width: $content;
        height: auto;
    }

    &-detailsContainer {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $b-small) {
            flex-direction: column;
        }

        @media screen and (min-width: $b-small) {
            flex-direction: row;
        }
    }

    &-details {
        line-height: $para-lineheight;
    }

    &-mapContainer {
        display: flex;
        justify-content: center;
    }

    &-map {
        width: 90%;
        min-height: 400px;
        max-height: 480px;
        max-width: $content;
    }
}