.content__shopMenu {
    h1,
    h2 {
        line-height: $mainheader-lineheight;
    }


    &-coffee,
    &-nonAlc {
        display: flex;
        @media screen and (max-width: $b-small) {
            flex-direction: column;
        }

        @media screen and (min-width: $b-small) {
            flex-direction: row;
        }
        padding-bottom: 1rem;
    }

    &-left,
    &-right {
        width: 100%;
        
        @media screen and (min-width: $b-small) {
            margin: 0 2rem 0 2rem;
        }

        h4 {
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid gray;
        }

        p {
            display: flex;
            justify-content: space-between;
        }

    }
}