.content {
    width: 100vw;
    padding: 0 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $body-background;

    &__home,
    &__shopMenu,
    &__coffeeBeans,
    &__ourStory {
        max-width: $content;
        margin-left: auto;
        margin-right: auto;
    }

}