.footer {
    width: 100vw;
    padding: 1rem 0 1rem 0;
    background-color: $footer-background;
    color: white;
    line-height: 4rem;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}