.header {
    width: 100vw;
    padding: 1rem 0 1rem 0;
    background-color: $header-background;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: $content;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: $b-small) {
            flex-direction: column;
        }

        @media screen and (min-width: $b-small) {
            flex-direction: row;
        }
    }

    &__logo {
        max-width: 128px;
        height: auto;
    }
}