/* 
    Main component backgrounds
*/
$body-background: white;
$header-background: #f8f9fa;
$footer-background: #343a40;

/* 
    Other backgrounds
*/
$coffeeCard-background: #dcdcdc;

/* 
    Section sizes
*/
$content: 768px;

/* 
    Text formatting
*/
$mainheader-lineheight: 3rem;
$para-lineheight: 2rem;

/* 
    Responsive font-sizes
*/
$mobile-p: 1.2rem;